section.buttons
    .container
        .buttons__title
            h2 Buttons
        .buttons__content
            .buttons__content-title
                h4 Buttons type I
            .buttons__content-item
                .buttons__content-name
                    | Button small
                .buttons__content-btn
                    a(href="#").btn.btn--small Заказать
                .buttons__content-code
                    | &lt;a href="#" class="<b>btn btn--small</b></b>"&gt;Заказать&lt;/a&gt;
                .buttons__content-btn
                    button.btn.btn--small Заказать
                .buttons__content-code
                    | &lt;button class="<b>btn btn--small</b>"&gt;Заказать&lt;/button&gt;
            .buttons__content-item
                .buttons__content-name
                    | Button normal
                .buttons__content-btn
                    a(href="#").btn.btn--normal Заказать
                .buttons__content-code
                    | &lt;a href="#" class="<b>btn btn--normal</b>"&gt;Заказать&lt;/a&gt;
                .buttons__content-btn
                    button.btn.btn--normal Заказать
                .buttons__content-code
                    | &lt;button class="<b>btn btn--normal</b>"&gt;Заказать&lt;/button&gt;
            .buttons__content-item
                .buttons__content-name
                    | Button medium
                .buttons__content-btn
                    a(href="#").btn.btn--medium Заказать
                .buttons__content-code
                    | &lt;a href="#" class="<b>btn btn--medium</b>"&gt;Заказать&lt;/a&gt;
                .buttons__content-btn
                    button.btn.btn--medium Заказать
                .buttons__content-code
                    | &lt;button class="<b>btn btn--medium</b>"&gt;Заказать&lt;/button&gt;
            .buttons__content-item
                .buttons__content-name
                    | Button large
                .buttons__content-btn
                    a(href="#").btn.btn--large Заказать
                .buttons__content-code
                    | &lt;a href="#" class="<b>btn btn--large</b>"&gt;Заказать&lt;/a&gt;
                .buttons__content-btn
                    button.btn.btn--large Заказать
                .buttons__content-code
                    | &lt;button class="<b>btn btn--large</b>"&gt;Заказать&lt;/button&gt;


            .buttons__content-title
                h4 Buttons type II
            .buttons__content-item
                .buttons__content-name
                    | Button outline small
                .buttons__content-btn
                    a(href="#").btn.btn--outline-red.btn--small Заказать
                .buttons__content-code
                    | &lt;a href="#" class="<b>btn btn--outline-red btn--small</b></b>"&gt;Заказать&lt;/a&gt;
                .buttons__content-btn
                    button.btn.btn--outline-red.btn--small Заказать
                .buttons__content-code
                    | &lt;button class="<b>btn btn--outline-red btn--small</b>"&gt;Заказать&lt;/button&gt;
            .buttons__content-item
                .buttons__content-name
                    | Button outline normal
                .buttons__content-btn
                    a(href="#").btn.btn--outline-red.btn--normal Заказать
                .buttons__content-code
                    | &lt;a href="#" class="<b>btn btn--outline-red btn--normal</b>"&gt;Заказать&lt;/a&gt;
                .buttons__content-btn
                    button.btn.btn--outline-red.btn--normal Заказать
                .buttons__content-code
                    | &lt;button class="<b>btn btn--outline-red btn--normal</b>"&gt;Заказать&lt;/button&gt;
            .buttons__content-item
                .buttons__content-name
                    | Button outline medium
                .buttons__content-btn
                    a(href="#").btn.btn--outline-gray.btn--medium Заказать
                .buttons__content-code
                    | &lt;a href="#" class="<b>btn btn--outline-gray btn--medium</b>"&gt;Заказать&lt;/a&gt;
                .buttons__content-btn
                    button.btn.btn--outline-gray.btn--medium Заказать
                .buttons__content-code
                    | &lt;button class="<b>btn btn--outline-gray btn--medium</b>"&gt;Заказать&lt;/button&gt;
            .buttons__content-item
                .buttons__content-name
                    | Button outline large
                .buttons__content-btn
                    a(href="#").btn.btn--outline-red.btn--large Заказать
                .buttons__content-code
                    | &lt;a href="#" class="<b>btn btn--outline-red btn--large</b>"&gt;Заказать&lt;/a&gt;
                .buttons__content-btn
                    button.btn.btn--outline-red.btn--large Заказать
                .buttons__content-code
                    | &lt;button class="<b>btn btn--outline-red btn--large</b>"&gt;Заказать&lt;/button&gt;

            .buttons__content-title
                h4 Buttons disabled
            .buttons__content-item
                .buttons__content-name
                    | Button small
                .buttons__content-btn
                    a(href="#").btn.btn--small.is-disabled Заказать
                .buttons__content-code
                    | &lt;a href="#" class="<b>btn btn--small disabled="disabled"</b></b>"&gt;Заказать&lt;/a&gt;
                .buttons__content-btn
                    button(disabled="disabled").btn.btn--small Заказать
                .buttons__content-code
                    | &lt;button class="<b>btn btn--small" disabled="disabled</b>"&gt;Заказать&lt;/button&gt;
            .buttons__content-item
                .buttons__content-name
                    | Button outline normal
                .buttons__content-btn
                    a(href="#").btn.btn--outline-red.btn--normal.is-disabled Заказать
                .buttons__content-code
                    | &lt;a href="#" class="<b>btn btn--outline-red btn--normal disabled="disabled"</b>"&gt;Заказать&lt;/a&gt;
                .buttons__content-btn
                    button(disabled="disabled").btn.btn--outline-red.btn--normal Заказать
                .buttons__content-code
                    | &lt;button class="<b>btn btn--outline-red btn--normal" disabled="disabled</b>"&gt;Заказать&lt;/button&gt;
            .buttons__content-item
                .buttons__content-name
                    | Button outline medium
                .buttons__content-btn
                    a(href="#").btn.btn--outline-gray.btn--medium.is-disabled Заказать
                .buttons__content-code
                    | &lt;a href="#" class="<b>btn btn--outline-gray btn--medium is-disabled</b>"&gt;Заказать&lt;/a&gt;
                .buttons__content-btn
                    button(disabled="disabled").btn.btn--outline-gray.btn--medium Заказать
                .buttons__content-code
                    | &lt;button class="<b>btn btn--outline-gray btn--medium disabled="disabled"</b>"&gt;Заказать&lt;/button&gt;
            .buttons__content-item
                .buttons__content-name
                    | Button large
                .buttons__content-btn
                    a(href="#").btn.btn--large.is-disabled Заказать
                .buttons__content-code
                    | &lt;a href="#" class="<b>btn btn--large is-disabled</b>"&gt;Заказать&lt;/a&gt;
                .buttons__content-btn
                    button(disabled="disabled").btn.btn--large Заказать
                .buttons__content-code
                    | &lt;button class="<b>btn btn--large" disabled="disabled</b>"&gt;Заказать&lt;/button&gt;
