- var linkItems = ['facebook-official', 'twitter', 'google-plus', 'linkedin']
- var linkUrls = ['facebook.com', 'twitter.com', 'google.com', 'linkedin.com']
footer.footer
        .container
            .footer__copy UI Kit Developers &copy; 2019 All Rights Reserved