// Fonts
$ff-main: 'helvetica-neue-regular';
$ff-main-bold: 'helvatica-neue-bold';
$ff-main-light: 'helvetica-neue-light';

$colorBlue: #311b92; //#2196f3; // #00f;

$colorRed: #b71c1c;
$colorRed2: #ff1744;
$colorRed3: #c51162;
$colorRed4: #a5192c;

$colorGray: #696969;
$colorGray2: #999;
$colorGray3: #dbdbdb;
$colorGray4: #575757;